.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  background: linear-gradient(to bottom, black, #323232);
  opacity: 0.90;
  height: 140px;
  width: 100vw;
  position: fixed;
  z-index: 1;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Form-style {
  box-shadow: #595214;
  font-family: 'Roboto','sans-serif';
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 6px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
